body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    background-color: #EEEEEE;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 2px grey;
    width: 600px;
    overflow: hidden;
    border-radius: 10px;
    flex-direction: column;
    height: 50vh;
    Font-Family: 'Playfair Display', Serif;
}
.header{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #2C2E43;
}
.checkHead{
    margin-top: 3%;
    Font-Family: 'PT Sans', Sans-Serif;
    color: #2C2E43;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding: 20px;
    color: #2C2E43;
    font-size: 18px;
}
ul li{
    margin: 10px;
}
ul li label{
    cursor: pointer;
}
button{
    border: none;
    background-color: rgb(155, 189, 166);
    width: 100%;
    cursor: pointer;
    padding: 20px;
    display: block;
    Font-Family: 'Playfair Display', Serif;
    font-size: 20px;
    color: #2C2E43;
}
button:hover{
    background-color: rgb(115,178,135);

}
button:focus{
    outline: none;
    background-color: rgb(255,218,115);
}
.image{
    display: flex;
    justify-content:space-evenly;
}
.edit{
    opacity: 0.5;
    margin: 5%;
    width: 5%;
}
#pen{
    opacity: 0.5;
    margin: 5%;
    width: 4%;
    height: 4%;
}












/*body{
    background: linear-gradient(90deg, rgba(254,236,233,1) 0%, rgba(204,209,228,1) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    Font-Family: 'Poppins', Sans-Serif;
    Font-Size: 30px;
}
form {
    background-color: #fff;  
    width: 700px;
    overflow: hidden;
    padding: 100px;
    display: flex;
    flex-wrap:wrap;
    }
label{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    }
.question{
    padding: 10px;
}
.btn{
    background-color: #CCD1E4;
    width: 100%;
    border: 2px solid #FEECE9;
    Font-Family: 'Poppins', Sans-Serif;
    Font-Size: 20px;
    margin-top: 20px;
    padding: 20px;
    cursor: pointer;
    color: #2F3A8F;
}
.show{
    margin: auto;
    margin-top: 7%;
}
*/
